[submodule "celestiada/verify/contracts/lib/forge-std"]
	path = celestiada/verify/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "celestiada/verify/contracts/lib/blobstream-contracts"]
	path = celestiada/verify/contracts/lib/blobstream-contracts
	url = https://github.com/celestiaorg/blobstream-contracts
[submodule "availda/verify/contracts/lib/forge-std"]
	path = availda/verify/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
