[submodule "celestia/verify/contracts/lib/forge-std"]
	path = celestia/verify/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "avail/verify/contracts/lib/forge-std"]
	path = avail/verify/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "celestia/verify/contracts/lib/blobstream-contracts"]
	path = celestia/verify/contracts/lib/blobstream-contracts
	url = https://github.com/celestiaorg/blobstream-contracts
